<head>

<link type="text/css" rel="stylesheet" href="http://coeduc.org/resources/css/screen.css" media="Screen">
<link type="text/css" rel="stylesheet" href="http://coeduc.org/resources/css/mobile.css" media="handheld">
<link type="text/css" rel="stylesheet" href="http://coeduc.org/resources/css/print.css" media="print">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="verify-v1" content="cW5+/R/VUveAwNEUcoMuqURX33/QDUnrmhTllkkuCJA=">
<meta name="keywords" content="Cooperative for Education, CoEd, Guatemala, Central America, education, textbooks, school, poor, non-profit organization, books, students, development, scholarship, computer, educational materials, charity, program, children, humanitarian">
<meta name="description" content="Cooperative for Education is a Cincinnati, Ohio-based nonprofit organization dedicated to breaking the cycle of poverty in Guatemala through education, providing impoverished schoolchildren with first-ever textbooks, Computer Centers, and reading programs.">
<!-- InstanceBeginEditable name="doctitle" -->
<title>${page_title}</title>
<!-- InstanceEndEditable -->
<!--[if IE 5]>
<style type="text/css"> 
/* place css box model fixes for IE 5* in this conditional comment */
.twoColFixLtHdr #sidebar1 { width: 230px; }
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColFixLtHdr #sidebar1 { padding-top: 30px; }
.twoColFixLtHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
<style type="text/css">
	@import url(http://www.google.com/cse/api/branding.css);
</style>
<script type="text/javascript" src="http://coeduc.org/resources/javascript/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="http://coeduc.org/resources/javascript/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="http://coeduc.org/resources/javascript/rollovers.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
	$(".columns").equalHeights();	
	})
 </script>
</head>