.student_detail_container .col_container .col_right{
	float: right;
	text-align: center;
	margin-top: -50px; /*hacky way of dealing with the existing layouts*/
	margin-bottom: 15px;
	padding-left: 24px;
	padding-right: 0px;
	margin-left: 24px;
	border-left: solid 1px #ccc;
	width: 275px;
}

.student_detail_container .col_container .col_right .send_note .action-btn{
    padding: 8px 20px;
}

.student_detail_container .col_container .col_right .already_sponsored_msg,
.student_detail_container .col_container .col_right .scholarship_form_intro{
	width:100%;
}

.student_detail_container .col_container .col_right .scholarship-value-info{
	margin-bottom:15px;
}
.student_detail_container .col_container .col_right .chzn-container{
	text-align:left;
}

.student_detail_container .image_container{
	margin: 0 0 15px 0;
	
}
.student_detail_container .image_container img{
	width: 253;
	height: 253px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

.twoColFixLtHdr #mainContent .student_detail_container hr.detail_divider{
	width:auto;
	margin: 15px 0 15px 0;
	color:#ccc;
}


.student_detail_container .scholarship_form select{
	width:90%; 
}

.student_detail_container .scholarship_form .field{
	margin-bottom:15px; 
}

.student_detail_container .scholarship_form .sponsor_button_container{
	padding:10px 0 10px 0;
}