.twoColFixLtHdr #mainContent .landing_page_container ul {
	margin: 0 0 0 15px;
}
.twoColFixLtHdr #mainContent .landing_page_container ul li {
	font-size: 14px;
}

.twoColFixLtHdr #mainContent .landing_page_container .search_container ul li {
	font-size: 12px;
}

.landing_page_container .loading_placeholder{
	display:none; 
}


.landing_page_container.initializing .loading_placeholder{
	display:block; 
	width:100%; 
	height:100%;
	opacity: .5;
	background: url('../images/loading.gif') no-repeat center;
}

.landing_page_container.initializing .results_container, 
.landing_page_container.initializing .search_container{
	visibility:hidden; /* Use visibility instead of display so we can still compute dimensions*/
}

.results_container .no-matching-students{
	display:none;
}
.results_container.no-results .no-matching-students{
	display:block;
}

.results_container.no-results .clear{
	display:none; /*not sure why, but this div needs to be explicitly hidden*/
}

.results_container .pagination{
	padding: 0;
}

.results_container .pagination_container .item_count{
	float:left; 
	margin-right: 15px;
}

.results_container .pagination_container{
	margin: 0 0 15px 7px;
	
}
.results_container.no-results .pagination_container{
	display:none;
}

.results_container .send_note_button{
	padding-top:9px;
}
.results_container .send_note_button .action-btn{
	padding: 8px 20px;
}

.students_container .student{
	float: left;
	width: 253px;
	border: 1px solid #CCC;
	padding: 15px;
	margin: 0 7px 15px 8px;
 	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
	
}

.students_container .student .image_container{
	margin: 0 0 15px 0;
	
}
.students_container .student .image_container img{
	width: 253;
	height: 253px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}



.students_container .student .details_button{
	text-align:center;
	padding: 10px;
}


.search_container{
	background-color: #EAE4DB;
	padding: 15px; 
	margin-bottom:15px;
	height:200px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
	border-radius: 15px;
}

.search_container .chzn-container{
	float:left;
	margin: 0 15px 15px 0; 
}


.search_container .search_button{
	text-align:center;
	padding: 10px 10px 10px 0;
	float:right;
}

.search_container .search_criteria .gender, 
.search_container .search_criteria .grade{
	width:162px; 
}

.search_container .search_criteria .community{
	width:200px; 
}

.search_container .search_criteria .scholarship_types{
	width:250px;
}
