/*This file contains shared css for the app*/
#mainContent *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.action-btn{
	text-decoration:none;
	border:1px solid #e5c29c;
	padding: 8px 65px;
	background-color: #c56e10;
	background: url('../images/button-background.png') repeat-x;
	color:white;
	line-height: 1;
	font-family: sans-serif;
	
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
	border-radius: 15px;
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5C39C', endColorstr='#c56e10');
	background: -webkit-gradient(linear, left top, left bottom, from(#E5C39C), to(#c56e10));
	background: -moz-linear-gradient(top,  #E5C39C,  #c56e10);*/
	
}

.action-btn:hover, .action-button:active{
	border:1px solid #CCC;
	text-decoration: none;
	color:white;
	background-image: none;
	background-color: #c56e10;
}
.action-btn:active{
	box-shadow: inset 0 5px 20px #333;
}

.field .field_label, 
.paragraph_field .field_label{
	font-weight:bold; 
}

.twoColFixLtHdr #mainContent .chzn-container .chzn-results li.single_grade{
	padding-left:20px;
}
.twoColFixLtHdr #mainContent  .chzn-container .chzn-search{
	display:none;
}

/*Fix for style in chose css that get overriden by CoEd base Css**/
.twoColFixLtHdr #mainContent .chzn-container .chzn-results li {
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}

.twoColFixLtHdr #mainContent ul.chzn-results{
    margin: 0 4px 0 4px;
}

#container{
	position: relative;
}

#left-icon{
	display: block;
	position: absolute;
	left: 300px;
	top: 15px;
}
#left-icon img{
	height: 95px;
}