<!DOCTYPE html> 
<html>
#parse("templates/administration/common/head.vm")

<body class="body-content">
	<div data-role="page">
		#parse("templates/administration/common/nav-panel.vm")
    	<div data-role="header" data-position="fixed">
            <h1>${page_title}</h1>
            <a href="${applicationPath}/admin/students" data-role="button" data-icon="back">Back to All Students</a>
		</div>
    	<div data-role="content">
    	    #parse("templates/administration/common/global_message.vm")
		</div>
    	#include("templates/administration/common/footer.vm")
	</div>
</body>
</html>


