<!DOCTYPE html> 
<html>
#parse("templates/administration/common/head.vm")

<body class="body-content">
	<div data-role="page">
		#parse("templates/administration/common/nav-panel.vm")
    	<div data-role="header" data-position="fixed">
            <h1>${page_title}</h1>
			<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
		</div>
    	<div data-role="content">
			<h1>Communities</h1>
            <p> teastas  aejfl;ajsoij ajefl;aklefnab ao aosnfn a aheo weo abasnb lua[u jen eoan fas voasld bhoiaje rlawo ega wlbh aosdhg ansdljbh oiash bane roha obnoawef ag oasfboya soh ab ahob ha oahgoias oasldf asidoh oaisdf iaj dsfiahfow9h aobhao g</p>
			<p> teastas  aejfl;ajsoij ajefl;aklefnab ao aosnfn a aheo weo abasnb lua[u jen eoan fas voasld bhoiaje rlawo ega wlbh aosdhg ansdljbh oiash bane roha obnoawef ag oasfboya soh ab ahob ha oahgoias oasldf asidoh oaisdf iaj dsfiahfow9h aobhao g</p>
			<p> teastas  aejfl;ajsoij ajefl;aklefnab ao aosnfn a aheo weo abasnb lua[u jen eoan fas voasld bhoiaje rlawo ega wlbh aosdhg ansdljbh oiash bane roha obnoawef ag oasfboya soh ab ahob ha oahgoias oasldf asidoh oaisdf iaj dsfiahfow9h aobhao g</p>
			<p> teastas  aejfl;ajsoij ajefl;aklefnab ao aosnfn a aheo weo abasnb lua[u jen eoan fas voasld bhoiaje rlawo ega wlbh aosdhg ansdljbh oiash bane roha obnoawef ag oasfboya soh ab ahob ha oahgoias oasldf asidoh oaisdf iaj dsfiahfow9h aobhao g</p>
			<p> teastas  aejfl;ajsoij ajefl;aklefnab ao aosnfn a aheo weo abasnb lua[u jen eoan fas voasld bhoiaje rlawo ega wlbh aosdhg ansdljbh oiash bane roha obnoawef ag oasfboya soh ab ahob ha oahgoias oasldf asidoh oaisdf iaj dsfiahfow9h aobhao g</p>
			<p> teastas  aejfl;ajsoij ajefl;aklefnab ao aosnfn a aheo weo abasnb lua[u jen eoan fas voasld bhoiaje rlawo ega wlbh aosdhg ansdljbh oiash bane roha obnoawef ag oasfboya soh ab ahob ha oahgoias oasldf asidoh oaisdf iaj dsfiahfow9h aobhao g</p>
		
		</div>
    	#include("templates/administration/common/footer.vm")
	</div>
</body>
</html>


